/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
background-image: image('so-white.png');
}


/******************************************
/* LAYOUT
/*******************************************/
.top-nav{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.top-nav > a {
  margin:0 35px;
  font-size: 40px;
}
h1{
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  font-style: italic;
  text-align: center;
}
#atlanta-made {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  height: 750px;
}
.titles{
  font-family: 'Roboto', sans-serif;
  font-size: 75px;
  font-style: italic;
  text-align: center;
}
#about{
  margin: 60px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  text-align:center;
  line-height: 2;
}
div{
  margin: 60px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  text-align:center;
}
#hands{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  height: inherit;
}
input{
  height: 70px;
  width: 400px;
}
#contactMe{
  text-decoration: underline;
}
#LinkedIn{
  display: block;
  margin-top:50px;
  margin-bottom:50px;
}
#email{
  display: block;
  margin-top:50px;
  margin-bottom:50px;
}
h3 {
      margin: 0 0 20px;
      font-weight: 400;
      color: #1c87c9;
      }
      p {
      margin: 0 0 5px;
      }
      .main-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #1c87c9;
      }
      form {
      padding: 25px;
      margin: 25px;
      box-shadow: 0 2px 5px #f5f5f5;
      background: #f5f5f5;
      }
      input, textarea {
      width: calc(100% - 18px);
      padding: 8px;
      margin-bottom: 20px;
      border: 1px solid #1c87c9;
      outline: none;
      }
      input::placeholder {
      color: #666;
      }
      button {
      width: 100%;
      padding: 10px;
      border: none;
      background: #1c87c9;
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      }
      button:hover {
      background: #2371a0;
      }
      @media (min-width: 568px) {
      .main-block {
      flex-direction: row;
      }
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
